body {
  background-color: #073642;
  font-family: 'Cousine', monospace;
  font-weight: bold;
}
p {
  color: #cb4b16;
  font-family: 'Cousine', monospace;
  font-weight: bold;
}
#sitetitle {
  color: #859900;
  font-family: 'Cousine', monospace;
  font-weight: bold;
}
#posttitle {
  color: #268bd2;
  font-family: 'Cousine', monospace;
  font-weight: bold;
}
#date {
  color: #839496;
  font-family: 'Cousine', monospace;
  font-weight: bold;
  font-size: 12px;
  margin-top: 0.5em;
}
#paginator {
  color: #2aa198;
  font-family: 'Cousine', monospace;
  font-weight: bold;
}
