---
layout: default
---
<title>Home - {{ site.name }}</title>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Home - The Zirconiac Speaks">
  <meta name="keywords" content="zirconiac, home, blog">
  <meta name="author" content="The Zirconiac">
</head>
{% for post in paginator.posts %}
  <h2 style="margin-bottom: 0.1em"><a id="posttitle" href="{{ post.url }}">{{ post.title }}</a></h2>
  <p id="date">// {{ post.date | date_to_string }}</p>
  <p id="description">{{ post.description }}</p>
  <hr style="color:#b58900">
{% endfor %}

{% include paginator.html %}
