---
layout: default
---
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Home - The Zirconiac Speaks, the blog of the infamous Zirconiac">
  <meta name="keywords" content="home, zirconiac, blog">
  <meta name="author" content={{ site.author }}>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>Home - {{ site.name }}</title>
<div class="cards">
  {% for post in paginator.posts %}
  <div class="card">
    <h2 style="margin-bottom: 0.1em"><a id="posttitle" href="{{ post.url }}">{{ post.title }}</a></h2>
    <p id="date">// {{ post.date | date_to_string }}</p>
    <p id="description">{{ post.description }}</p>
  </div>
  {% endfor %}
</div>
<br>
{% include paginator.html %}
