<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css"
</head>
<div id="paginator">
{% if paginator.next_page or paginator.previous_page %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous page</a>
  {% else %}
    <div id="blanked">Previous page</div>
  {% endif %}
  |
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next page</a>
  {% else %}
    <div id="blanked">Next page</div>
  {% endif %}
{% endif %}
</div>