---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/jpg" href="favicon.jpg">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">

    <ul class="navbar" style="list-style:none;">
      <li style="display:inline-block;"><h1 id="sitetitle"><a href="/" style="color:#859900">{{ site.name }}</a><h1>&nbsp;&nbsp;</li>
      <li style="display:inline-block;"><a href="/info/about.html">About/</a> &nbsp;&nbsp;</li>
      <li style="display:inline-block;"><a href="/info/contact.html">Contact/</a> &nbsp;&nbsp;</li>
      <li style="display:inline-block;"><a href="/info/services.html">Services/</a> &nbsp;&nbsp;</li>
    </ul>
  </head>

      {{ content }}

      <hr>
      <p id="date">© {{ site.time | date: '%Y' }} {{ site.author }}.</p>
      <a href="https://github.com/zirconiacubed3v2" style="text-decoration:none;color:#268bd2">Follow me on Github</a>
  </body>
</html>
