---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>{{ site.name }}</title
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  </head>
  <body>
      <h1 style="color: #dc322f"><a href="/">{{ site.name }}</a></h1>

      {{ content }}

      <hr>
      © {{ site.time | date: '%Y' }} {{ site.author }}.
      <a href="https://github.com/zirconiacubed3v2">Follow me on Github</a>
  </body>
</html>
