---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="description" content="Home - The Zirconiac Speaks, the blog of the infamous Zirconiac">
    <meta name="keywords" content="home, zirconiac, blog">
    <meta name="author" content={{ site.author }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <nav class="mainnav">
        <a href="/"><img src="/favicon.png" style="width:35px;object-fit:scale-down;vertical-align:middle;"></a>
        <a href="/">~/Home/</a>
        <a href="/info/about">~/About/</a>
        <a href="/info/contact">~/Contact/</a>
        <a href="/info/projects">~/Projects/</a>
    </nav>
  </head>
  <body style="margin:0px;">

    <div id="content" style="margin:20px;">
      {{ content }}
    </div>

    <div class="footer">
      <hr style="color:#b58900;">
      <p id="date">© {{ site.time | date: '%Y' }} {{ site.author }}.</p>
      <div id="page-footer">
      <a href="https://github.com/zirconiacubed3v2">Follow me on Github</a>
      <p>All posts written by the hand of a real human without the use of AI</p>
      </div>
    </div>
  </body>
</html>
